mixin banner
  header(style=`background-color: ${ bgColor };`)
    +naviBar
    div#bannerContent
      img(src=`${ static }/images/logoWhiteBig.png`)
      p AI Forum  
        span 2018
      p Artificial Intelligence Forum in NCKU
      img#bgImg1(src=`${ static }/images/tree.png`)
      img#bgImg2(src=`${ static }/images/tree.png`)
