mixin banner
  header(style=`background-color: ${ bgColor };`)
    +naviBar
    div#bannerContent
      img(src=`${ static }/images/logoWhiteBig.png`)
      p AI Forum  
        span 2018
      p Artificial Intelligence Forum in NCKU
      p 5/4 - 5/5, 香格里拉飯店 * 台南
      img#bgImg1(src=`${ static }/images/tree.png`)
      img#bgImg2(src=`${ static }/images/tree.png`)
