footer
  div
    p Copyright © 2018 國立成功大學資訊工程系
    p
      span(class='fas fa-map-marker') 
      span    70101 台南市東區大學路1號 | 
      a(href="https://www.google.com.tw/maps/place/國立成功大學資訊工程系/@22.9971966,120.217646,16.22z/data=!4m8!1m2!3m1!2z5ZyL56uL5oiQ5Yqf5aSn5a246LOH6KiK5bel56iL57O7!3m4!1s0x346e769337a9d2a5:0x908f765e123a6d7!8m2!3d22.997243!4d120.2208024") 系館位置地圖
    p
      span(class='fas fa-phone') 
      span  06-2757575 ext #62520 #2903
    p
      span(class='fas fa-envelope') 
      span    
      a(href="www-team@cs.ncku.edu") www-team@cs.ncku.edu
  div
    a(href="#")
      img(src=`${ static }/images/facebook_logo.png`)
    p 瀏覽人數：
