extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/index.css`)

block header

block content
  h1 404 not found

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
