extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'agenda' )

block content
  section#banner(style='background:black;')
  section
    h1 2018 年 5 月 4 日
  section
    h1 2018 年 5 月 5 日
  section
    h1 李航 主任
    img(src='images/speaker_hang_lee.jpg' alt='李航 主任')
    p 現爲今日頭條實驗室主任，曾任華爲諾亞方舟實驗室主任；1990-2001年，供職於NEC公司研究實驗室；2001-2012年，在微軟亞洲研究院工作；其研究領域包括信息檢索、自然語言處理、統計機器學習和數據挖掘。
    p 演講內容
  section
    h1 林一平(Lim Ee Peng) 教授
    img(src='images/speaker_lim_ee_peng.jpg' alt='林一平(Lim Ee Peng) 教授')
    p 現為新加坡管理大學的教授，現為多個IEEE/ACM重要期刊的副編輯，如:ACM Transaction on Web, TKDE, ACM TIS, IEEE Intelligent Systems, 他也是今年CIKM會議的主席之一, CIKM為資料探勘頂尖會議之一. 林教授多年在新加坡管理大學推廣多項國際合作，其團隊也與MIT有相當多實質的合作與研究進行, 也在大數據與人工智慧領域有不少研究成果，期能將新加坡這幾年將AI運用領域與推廣方式進行分享。
    p 演講內容
  section
    h1 王海勳(Haixun Wang) 博士
    img(src='images/speaker_haixun_wang.jpg' alt='王海勳(Haixun Wang) 博士')
    p 王海勳博士現任亞馬遜NLP集團董事。在加入亞馬遜之前，曾在Google、微軟亞洲，IBM Research（沃森）工作過。王博士研究領域為文字分析Text Analytics, 自然語言處理，知識庫建構與語意網路，Artificial Intelligence等。王博士曾得過ICDE 2015年的最佳論文獎，在2014年得到ICDM 10 Year Highest Impact Paper Award，在微軟研究院時，王博士建構出一個語料知識庫Probase (a data driven semantic network for text understanding)，也是在文字處理上相當重要的一個語料庫。
    p 演講內容

block scripts
  script(src='js/particles.js')
  script(src='js/index.js')
