extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( `${ agenda }` )

block content
  section#banner(style='background:black;')
  section
    h1 2018 年 5 月 4 日
  section
    h1 2018 年 5 月 5 日

block scripts
  script(src='js/particles.js')
  script(src='js/index.js')
