extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'contact' )

block content
  +bannerText('聯絡我們')
  section

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
