extends layouts/base.pug

block css
  link(rel='stylesheet' href=`${ static }/css/contact.css`)

block header

block content
  +bannerText('聯絡我們')
  section#mainContent
    h1 聯絡我們
    hr

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
