extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'contact' )

block content
  section#banner(style='background:black;')
  section
    h1 聯絡我們

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }js/index.js`)
