extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'registration' )

block content
  section#banner(style='background:black;')
  section
    h1 註冊失敗！

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
