extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'host' )

block content
  section#banner(style='background:black;')
  section
    h1 主協辦單位
    h2 中華民國科技部
    img(class='img-responsive' src='images/host_most.jpg' alt='中華民國科技部')
    h2 中華民國人工智慧學會 TAAI
    img(class='img-responsive' src='images/host_taai.jpg' alt='中華民國人工智慧學會 TAAI')
    h2 國立成功大學
    img(class='img-responsive' src='images/host_ncku.jpg' alt='國立成功大學')
    h2 科技部AI創新研究中心專案計畫推動辦公室
    img(class='img-responsive' src='' alt='科技部AI創新研究中心專案計畫推動辦公室')
    h2 財團法人李國鼎科技發展基金會
    img(class='img-responsive' src='' alt='財團法人李國鼎科技發展基金會')
    h2 國立成功大學國際產學聯盟
    img(class='img-responsive' src='images/host_gloria.jpg' alt='國立成功大學國際產學聯盟')

block scripts
  script(src='js/particles.js')
  script(src='js/index.js')
