extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/index.css`)

block header

block content
  include components/title.pug
  +naviBar
  section#mainContent
  section
    +title( '關於' )
    article
      h1 人工智慧論壇研討會的緣起
      p 人工智慧（artificial intelligence、AI）這個名詞自 1956 年誕生以來，便不斷地 與日新月異的現代科技一起發展進步，為提升人類的生活品質做出貢獻。今天無論是在：機器人、汽車、手機、家電、乃至於搜尋引擎與推薦系統中，都存在著人工智慧扮演不可或缺的角色，與我們的生活緊密結合。
      p 而在現實生活中，其實已經有不少人工智慧技術早已被廣泛應用，只是一般生活中根本不會與電影內容所提及的人工智慧作連結，但確實帶來許多便利體驗。如蘋果Siri、微軟Cortana與Google所打造的Google Now服務，其實背後除了藉由大量個人資料、網路資訊支撐，其中也包含配合人工智慧系統協助判斷資料重要性、正確性，藉此給予使用者最佳解答，例如常見的線上機器人客服系統也是使用大量人工智慧資源。
      p 從中華民國人工智慧學會 (TAAI) 於 1999 年，在國立暨南國際大學首次舉辦人工智慧論壇研討會 (AI Forum) 以來，AI Forum 已成為國內人工智慧研究領域一年一度的盛事！以論壇的方式，提供國內大學、研究單位及產業界的專家與學者一個交流與整合的平台。 
      p 經過了十九年，AI Forum 將在 2018 年 5 月 4、5 日兩天，即將到台南的國立成功大學舉辦。在這十九年的歲月間，隨著每一次年會走過的腳印，都可以看到人工智慧所刻劃下的里程碑，也彰顯了台灣產官學界，在人工智慧這個領域的長年耕耘。雖然2017為台灣的AI元年，但學會在人工智慧的深耕，確已經深化在台灣學術與工業界個領域。特別是在過去的這幾年中，雲端、大數據、與深度學習的興起，更風起雲湧地將人工智慧的研究推上新的高峰！也更凸顯出 AI Forum 的意義與重要！ 
      p 在 2018 AI Forum 中更進一步、也更特別的是：有鑒於近年來深度學習在人工智慧學術研究上影響越來越密切，在全球各國的實際應用也如雨後春筍般的出現，我們特別安排了『深度學習技術與社會價值高峰論壇』的 Special Session。邀請到多位應用人工智能在實際生活的學界重量級學者專家，來台共襄盛舉。另外，配合科技部的AI創新計畫，我們也將呈現個智慧主題下重要的成果與研究。
  section
    +title( 'Keynote Speakers' )
  section
    +title( 'Keynote Speakers' )
  section
    +title( 'Keynote Speakers' )
  section
    +title( 'Keynote Speakers' )
  section
    +title( '報名' )
  section
    +title( '費用' )
  section
    +title( '會議地點' )
  //section#mainContent
  //  figure
  //    img(src=`${ static }/images/logoBlackBig.png`)

block scripts
