extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( '首頁' )
  section#particles-js

block content
  section
    h1 2018 人工智慧論壇
    p 2018 年 5 月 4 日 - 5 月 5 日

block scripts
  // no script
