extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'location' )

block content
  section#banner(style='background:black;')
  section
    h1 交通資訊
    p 國立成功大學

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
