extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/location.css`)

block header
  +navigationBar( 'location' )

block content
  +bannerText('交通資訊', '')
  section#mainContent
    h1 國立成功大學
    hr

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
