extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'registration' )

block content
  +bannerText('註冊成功！',`感謝 ${ name } 先生/小姐 您的參與！`)

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
