@import components/reset
@import components/navibar
@import components/banner
@import components/section
@import components/staticPath
@import components/title
@import components/footer

+navibar(#eb5a5a)
+banner(#eb5a5a, #00a0e7)

// section 1, color #ffffff
+sectionSetup( #ffffff, 100%, 60%, 1 )
section:nth-of-type(1)
  width: 100%
  padding: 5%
  +title( #047b8b, 1 )

  article
    margin-top: 5%
    display: grid
    grid-template-areas: "image header" "image content"
    grid-column-gap: 5%

    img
      grid-area: image
      justify-self: right
      width: 60%
      height: auto

    h1
      grid-area: header
      justify-self: left
      align-self: end
      font-size: 1rem
      color: #707070

    a 
      grid-area: content
      justify-self: left
      align-self: center
      color: #707070
      text-decoration: underline
    

// section 2, color #ffffff
+sectionSetup( #ffffff, 100%, auto, 2 )
section:nth-of-type(2)
  width: 100%
  padding: 5%
  +title( #047b8b, 1 )

  article
    margin-top: 5%
    display: grid
    grid-template-areas: "header image" "content1 image" "content2 image"

    img
      grid-area: image
      justify-self: center
      width: 60%
      height: auto

    h1
      grid-area: header
      justify-self: right
      align-self: end
      display: inline-box
      font-size: 1rem
      color: #707070

    a:nth-of-type(1) 
      grid-area: content1
      justify-self: right
      align-self: center
      color: #707070
      text-decoration: underline

    a:nth-of-type(2) 
      grid-area: content2
      justify-self: right
      align-self: start
      color: #707070
      text-decoration: underline

+footer(#eb5a5a)
