@import components/reset

.timeline
  width: 100%
  min-height: 100%
  padding-top: 10%

  &:nth-of-type(2)
    background: linear-gradient(to bottom, darken(white, 10%), white, white, white, white)

.purpose
  margin-top: 3rem

.location
  text-align: center

.conferenceImage
  padding: 2rem
  margin-right: auto
  margin-left: auto
  img
    margin: 15px 15px 15px 15px

table
  max-width: 80%
  margin-top: 1rem
  margin-right: auto
  margin-left: auto
  text-align: center
  border-collapse: collapse

th, tr, td
  margin: 0 auto
  font-size: .7rem
  padding: 10px 8px

th
  background: #666666
  color: #eeeeee

tr:nth-of-type(even)
  background: rgba(0,0,0,.02)
  color: #888888

tr:nth-of-type(odd)
  background: rgba(0,0,0,.04)
  color: #888888

tr:hover
  background: #888888
  color: #ffffff

#speakers
  width: 100%
  padding: 8%
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  grid-column-gap: 8%

figure
  text-align: center
  display: block
  margin: 0 auto
  
  img
    cursor: pointer
    width: 200px
    height: 200px
    border-radius: 50%
    transition: opacity .1s
    &:hover
      opacity: 0.7

figcaption
  font-size: 24px
  margin-bottom: 10px 

  h3
    font-weight: 700
    font-size: 1rem

article
  font-size: 16px
  color: #444444

.purpose
  p
    margin: 15px 0
    color: #888888
    width: 60%
    margin-left: auto
    margin-right: auto
    font-size: .7rem

.location
  p
    margin: 15px 0
    color: #888888
    width: 60%
    margin-left: auto
    margin-right: auto
    font-size: .7rem

.cont
  display: none

#modal
  display: none
  position: fixed
  z-index: 999
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 60%
  height: 80%
  overflow: auto
  padding: 50px
  background-color: #f3f3f3
  border: 1px solid #bbbbbb
  border-top: 5px solid #bbbbbb
  border-radius: 15px
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  transition: opacity .5s
  #close
    position: sticky
    top: 0
    float: right
    color: #7a7a96
    font-size: 40px
    font-weight: bold
    transition: color .5s
    &:hover, &:focus
      color: #70708b
      text-decoration: none
      cursor: pointer
  #icon
    box-sizing: content-box
    display: block
    width: 500px
    height: 500px
    margin: 0 auto
    padding-bottom: 30px
  #description
    display: block
    position: relative
    margin: auto
    height: auto
    .header
      display: block
      font-size: 1rem
    .divider
      display:block
      width: 100%
    #career
      text-align: left
      color: #555555
      display: block
      margin: 0 auto
      padding: 10px
      width: 100%
      height: auto
      font-size: .6rem
