@import components/reset
@import components/navibar
@import components/banner
@import components/speaker
@import components/title
@import components/footer

+navibar(#707070)
+banner(#707070, #00a0e7)

// ========
// global setting
h1
  font-size: 2rem
  padding: 30px
h3
  color: #047b8b
  font-size: 1rem
  padding-bottom: .8rem
// ========

// ========
// section.purpose
.purpose
  display: grid
  padding: 50px 10%
  div:nth-of-type(1)
    grid-area: title
    +title( #047b8b, 1 )
  div:nth-of-type(2)
    grid-area: intro
    text-align: left
    padding: 100px 50px
    p
      color: #707070
      font-size: .7rem
  div:nth-of-type(3)
    grid-area: date
    margin: auto
    padding: 50px 20px
    text-align: center
    border: 5px solid #eb5a5a
    border-radius: 20px
    p
      font-size: 1.2rem
      span:nth-of-type(1)
        color: #047b8b
      span:nth-of-type(2)
        color: #eb5a5a
    p:nth-of-type(2)
      color: #047b8b
      font-size: 3rem
  grid-template-areas: 'title title' 'intro date'
// ========

// ========
// section.timeline
.timeline
  padding: 50px 10%
  +title( #047b8b, 1 )
  h3
    padding-top: 90px
  table
    margin: auto 0
    width: 100%
    border-collapse: collapse
    font-size: .75rem
    color: #707070
  th, tr, td
    padding: 30px
    text-align: center
  th
    background: #f5f5f5
    &:nth-of-type(2)
      border-left: 2px solid #ffffff
  tr
    td:nth-of-type(2)
      text-align: left
      border-left: 2px solid #ffffff
  tr:nth-of-type(even)
    background: #fafafa
  tr:nth-of-type(odd)
    background: #f5f5f5
  tr:hover
    background: #bfc4c7
// ========

#speakers
  width: 100%

  +title( #047b8b, 1 )
  +title( #047b8b, 2 )
  +title( #047b8b, 3 )

  article
    padding: 5%
    margin: 0 5%
    display: grid
    grid-column-gap: 3%
    &:nth-of-type(1)
      grid-template-columns: repeat( 3, minmax(334px, 1fr) )
    &:nth-of-type(2)
      grid-template-columns: repeat( 2, minmax(334px, 1fr) )
    &:nth-of-type(3)
      grid-template-columns: repeat( 2, minmax(334px, 1fr) )
    +speaker

    figure
      justify-self: center
      margin-bottom: 5%

      &:hover
        img
          opacity: 0.5

      a 
        display: block
        text-align: center

    figcaption
      
      h1, h2
        text-align: center
        color: #000000
        padding: 0

+footer(#707070)
footer
  h1
    padding: 0
