@import reset

$titleTextColor: #273063
$contentTextColor: #595a5f
$linkHoverBgColor: #8e8f95

#mainContent
  background: linear-gradient(to bottom, darken(white, 10%), white, white, white, white)
  text-align: center
  width: 100%
  padding: 5%
  h1
    font-weight: 100
    font-size: 2rem
    color: $titleTextColor
    margin-top: 4rem
    margin-bottom: 1rem
hr
  color: $linkHoverBgColor
  border-width: 1px
  display:block
  border-style: inset
  margin-bottom: 1rem
