@import reset

nav
  a
    float: left
    img
      width: 72px
      height: 72px
  ul
    list-style-type: none
    overflow: hidden
    background-color: #777777
    position: sticky
    position: -webkit-sticky
    top: 0
  li
    float: left
    a
      display: block
      color: #ffffff
      text-align: center
      padding: 10px 20px
      text-decoration: none
      &:hover
        background-color: #333333
  .active
    //padding-bottom: 30px
