@import components/reset
@import components/navibar
@import components/banner
@import components/section
@import components/title
@import components/footer
@import components/speaker
+navibar(#3b9c3d)
+banner(#3b9c3d, #f4b307)


+sectionSetup( #ffffff, 100%, auto, 1 )
section:nth-of-type(1)
  margin: 0 auto
  max-width: 100%
  text-align: center

  +title( #000000, 1 )

  img
    display: block
    margin: 50px auto
    max-width: 100%

+sectionSetup( #ffffff, 100%, auto, 2 )
section:nth-of-type(2)
  +title( #000000, 1 )

  article
    margin: 2% auto
    padding: 2%
    display: grid
    grid-template-columns: repeat( 3, minmax( 200px, 1fr ) )
    grid-column-gap: 5%
    +speaker

    figure
      justify-self: center

    figcaption
      margin-top: 5%
      margin-bottom: 5%
      
    h1, h2
      text-align: center
      color: #000000

+sectionSetup( #ffffff, 100%, auto, 3 )
section:nth-of-type(3)
  margin: 0 auto
  max-width: 100%
  text-align: center

  +title( #000000, 1 )

  img
    display: block
    margin: 50px auto
    max-width: 100%
  h1
    color: #707070
    margin: 50px auto
    max-width: 100%
    text-align: center

+sectionSetup( #ffffff, 100%, auto, 4 )
section:nth-of-type(4)
  margin: 0 auto
  max-width: 100%
  text-align: center

  +title( #000000, 1 )
  +title( #F4B370, 2 )
  +title( #BFC4C7, 3 )

  h1
    margin-top: 5%
  
  article:nth-of-type(1)
    margin: 2% auto
    display: grid
    grid-template-columns: repeat( 4, minmax( 200px, 1fr ) )
    grid-column-gap: 0%

    img
      //display: block
      margin: auto
      max-width: 50%
      height: auto

  article:nth-of-type(2)
    margin: 2% auto
    padding: 2%
    display: grid
    grid-template-columns: repeat( 4, minmax( 200px, 1fr ) )
    grid-column-gap: 0%

    img
      display: block
      margin: auto
      max-width: 70%
      height: auto

.divider
  padding: 15px 12%

+footer(#3b9c3d)
