@import components/reset
@import components/section
@import components/staticPath
@import components/navibar
@import components/title
@import components/speaker
@import components/button
@import components/footer
+navibar(#f4b307)

// ========================================
// index header
header
  &#top
    background-color: #f4b307
    width: 100%
    height: 100%
    overflow: hidden
    div
      &.bgImageArea
        width: 100%
        height: 100%
        overflow: hidden
        position: absolute
        z-index: 0
        img
          position: absolute
          &.bgImage
            opacity: 0.15
            &:hover
              filter: invert(100%)

          &#blackTreeTopLeft
            margin-left: -37%
            margin-top: -40%
            transform: rotate(270deg)

          &#blackTreeTopRight
            margin-left: 70%
            margin-top: -42%
            transform: rotate(270deg)
  
          &#blackTreeBottomRight
            margin-left: 30%
            margin-top: 22%
            transform: rotate(270deg)

          &#blackTreeBottomRightMost
            margin-left: 72%
            margin-top: 25%

          &.robotImage
            z-index: 1
            width: 583px
            height: auto

          &#robotLeft
            margin-left: -16%
            margin-top: 15%

          &#robotRight
            margin-left: 84%
            margin-top: 1%
  
    div
      &.image
        text-align: center
        img
          &.whiteTreeLogo
            margin-top: 3%
            width: 7rem
            height: auto
            opacity: 0.9
    div
      &.head
        text-align: center
        h1
          color: #f5f5f5
          font-size: 3rem
          letter-spacing: -.1rem
          transform: scaleY(1.05)
          span
            color: #00a0e7
            letter-spacing: 0rem
        h2
          color: #f5f5f5
          font-size: .8rem
          letter-spacing: .1rem
          font-weight: lighter
          word-spacing: .7rem
          transform: scaleY(1.05)
    div
      &.buttonApplyArea
        button
          border: .15rem solid #eb5a5a
          border-bottom-left-radius: 2rem 100%
          border-bottom-right-radius: 2rem 100%
          border-top-right-radius: 2rem 100%
          border-top-left-radius: 2rem 100%
          background: rgba(235, 90, 90, 0)
          color: #eb5a5a
          width: 9rem
          height: 2rem
          margin-top: 2rem
          margin-left: 30%
          font-size: .7rem
          transform: scaleY(1.05)
          word-spacing: .7rem
          transition: 0.4s
          z-index: 2
          &:hover
            background: rgba(235, 90, 90, 1)
            color: #f5f5f5


// ========================================
// section 1, color #ffffff
+sectionSetup( #ffffff, 100%, 90%, 1 )
section:nth-of-type(1)
  background-image: linear-gradient( to bottom, rgba( 255, 255, 255, .95), rgba( 255, 255, 255, .95) ), url( "#{ $staticPath }/images/logoBlackBig.png" )
  background-size: 100% 100%, 84vh 70vh
  background-repeat: repeat, no-repeat
  background-position: 0% 0%, 95% 90%
  
  +title( #047b8b, 1 )

  // section content
  article
    
    h1
      margin-top: 3%
      color: #047b8b
      font-size: 20pt
    
    p
      margin-top: 2%
      color: #707070
      font-size: 15pt

      &:nth-of-type(1)
        margin-top: 3%
// ========================================

// ========================================
// section 2, color #047b8b
+sectionSetup( #047b8b, 100%, 90%, 2 )
section:nth-of-type(2)
  +title( #ffffff, 1 )

  article
    padding: 5%
    display: grid
    grid-template-columns: repeat( auto-fill, minmax( 334px, 1fr ) )
    grid-column-gap: 6%
    +speaker

    figure
      justify-self: center

    h1, h2
      text-align: center
// ========================================

// ========================================
// section 3, color #eb5a5a
+sectionSetup( #eb5a5a, 100%, 90%, 3 )
section:nth-of-type(3)
  +title( #ffffff, 1 )

  article
    padding: 5%
    display: grid
    grid-template-columns: repeat( auto-fill, minmax( 334px, 1fr ) )
    grid-column-gap: 20%
    +speaker

    figure
      justify-self: center

    h1, h2
      text-align: center
// ========================================

// ========================================
// section 4, color #f4b307
+sectionSetup( #f4b307, 100%, 90%, 4 )
section:nth-of-type(4)
  +title( #ffffff, 1 )
// ========================================

// ========================================
// section 5, color #707070
+sectionSetup( #707070, 100%, 90%, 5 )
section:nth-of-type(5)
  +title( #ffffff, 1 )
// ========================================

// ========================================
// section 6, color #ffffff
+sectionSetup( #ffffff, 100%, 90%, 6 )
section:nth-of-type(6)
  +title( #047b8b, 1 )

  +button
  button
    margin: 5% auto
    display: block

  article
    h1, p
      text-align: center
      font-size: 30px
      color: #047b8b
      font-weight: bold

    span
      color: #eb5a5a
      

// ========================================

// ========================================
// section 7, color #bfc4c7
+sectionSetup( #bfc4c7, 100%, 100%, 7 )
section:nth-of-type(7)
  +title( #047b8b, 1 )

  article
    margin: 3% 5%
    display: inline-block
    width: 25%

    &:nth-of-type(1)
      margin-left: 20%

    &:nth-of-type(2)
      margin-right: 20%

    +button

    span
      color: #ffffff

  #map
    margin: 0 auto
    width: 80%
    height: 60%
// ========================================

+footer(#047b8b)
