@import components/reset
@import components/navibar
@import components/banner
@import components/title
@import components/footer
@import components/button
+navibar(#047b8b)
+banner(#047b8b, #00a0e7)

#mainContent
  background: linear-gradient(to bottom, darken(white, 10%), white, white, white, white)
  text-align: center
  width: 100%
  padding: 5%

  div
    &.gridContainer
      text-align: center
      margin-top: 1.5rem
      margin-bottom: 2rem
      margin-left: auto
      margin-right: auto
      display: grid
      grid-template-columns: 20rem 10rem
      justify-content: space-around
      div
        &.leftColumn
            border: .1rem solid #eb5a5a
            border-radius: 1rem
            padding: 1rem
        p
          color: #047bbb
          font-weight: bold
          font-size: .8rem
          line-height: 1.3rem
          span
            color: #eb5a5a
      div
        &.rightColumn
          +button
table
  max-width: 80%
  margin: 50px auto
  text-align: center
  border-collapse: collapse

th, tr, td
  margin: 0 auto
  font-size: .7rem
  padding: 10px 8px

th
  min-width: 180px
  background: #666666
  color: #eeeeee

tr:nth-of-type(even)
  background: rgba(0,0,0,.02)
  color: #888888

tr:nth-of-type(odd)
  background: rgba(0,0,0,.04)
  color: #888888

tr:hover
  background: #888888
  color: #ffffff

#form
  border-top: solid 7px #999999
  font-size: .8rem
  background-color: #e3e3e3
  max-width: 1000px
  margin: 5% auto
  text-align: center
  border-radius: 10px
  padding: 30px
  %inputField
    background-color: #ffffff
    box-sizing: content-box
    font-size: .65rem
    width: 80%
    height: 30px
    padding: 10px 10px
    margin: 20px auto
    display: block
    border-bottom: 3px solid #b4b4e9
    border-radius: 5px
    transition: background-color .5s
  input
    &[type=text], &[type=email], &[type=tel]
    @extend %inputField
    &[type=text]:focus, &[type=email]:focus, &[type=tel]:focus
      background-color: #eeeeff
    &.invalid
      background-color: #ffcaca
      border-bottom-color: #e0a9a9
    &[type=submit]
      margin-top: 50px
      width: 50%
  select
    @extend %inputField
    &:focus
      background-color: #eeeeff

+footer(#047b8b)
