@import components/reset
@import components/navibar
@import components/banner
@import components/title
@import components/footer
@import components/button
+navibar(#047b8b)
+banner(#047b8b, #00a0e7)

+title(#047b8b, 0)
#mainContent
  background: linear-gradient(to bottom, darken(white, 10%), white, white, white, white)
  text-align: center
  width: 100%
  padding: 5%

  div
    &.gridContainer
      width: 65%
      text-align: center
      margin-top: 2rem
      margin-bottom: 1rem
      margin-left: auto
      margin-right: auto
      display: grid
      grid-template-columns: auto auto
      justify-content: space-around
      align-items: center
      div
        &.leftColumn
            border: .1rem solid #eb5a5a
            border-radius: 1rem
            padding: 1rem
        p
          color: #047b8b
          font-weight: bold
          font-size: .8rem
          line-height: 1.3rem
          span
            color: #eb5a5a
      div
        &.rightColumn
          +button

+title(#047b8b, 1)
#instruction
  width: 75%
  margin-left: auto
  margin-right: auto
  h2
    margin-top: 2rem
    font-size: .8rem
    color: #047b8b
    font-weight: bold
  ol
    margin-top: 1rem
    font-size: .6rem
    color: #0e0e0e
    font-weight: lighter
  table
    max-width: 85%
    margin: 50px auto
    text-align: center
    border-collapse: collapse
    font-weight: lighter

  th, tr, td
    margin: 0 auto
    font-size: .7rem
    padding: 10px 8px
    font-weight: lighter

  span
    font-weight: lighter
    color: #bfc4c7

  th
    min-width: 180px
    background: #f5f5f5
    color: #0e0e0e

  tr:nth-of-type(even)
    background: #fafafa
    color: #0e0e0e

  tr:nth-of-type(odd)
    background: #f5f5f5
    color: #0e0e0e

  tr:hover
    background: #888888
    color: #ffffff

+title(#047b8b, 2)

#form
  border-top: solid 7px #999999
  font-size: .8rem
  background-color: #e3e3e3
  max-width: 1000px
  margin: 5% auto
  text-align: center
  border-radius: 10px
  padding: 30px
  %inputField
    background-color: #ffffff
    box-sizing: content-box
    font-size: .65rem
    width: 80%
    height: 30px
    padding: 10px 10px
    margin: 20px auto
    display: block
    border-bottom: 3px solid #b4b4e9
    border-radius: 5px
    transition: background-color .5s
  input
    &[type=text], &[type=email], &[type=tel]
    @extend %inputField
    &[type=text]:focus, &[type=email]:focus, &[type=tel]:focus
      background-color: #eeeeff
    &.invalid
      background-color: #ffcaca
      border-bottom-color: #e0a9a9
    &[type=submit]
      margin-top: 50px
      width: 50%
  select
    @extend %inputField
    &:focus
      background-color: #eeeeff

+footer(#047b8b)
