@mixin speaker
  figure
    display: grid
    grid-template-areas: 'img' 'figcap'

    a
      display: block
      text-align: center
      grid-area: img
      justify-content: center

    &:hover
      img
        border: 5px solid #ffffff

      h1, h2
        font-weight: bold
    
    img
      border: 5px solid transparent
      border-radius: 50%
      transition: .3s
      width: 17vw
      height: 17vw
      margin: 0 auto
      
    figcaption
      grid-area: figcap
      justify-content: center

      h1, h2
        transition: .3s
        font-weight: normal
        font-size: 20px
