@mixin speaker
  figure
    img
      border-radius: 50%
      width: 17vw
      height: 17vw
    figcaption
      h1
        font-weight: normal
        color: #ffffff
        font-size: 20px
      h2
        font-weight: normal
        color: #ffffff
        font-size: 20px
      p
