@import reset

footer
  padding-top: 5%
  padding-bottom: 2%
  background-color: #777777
  color: #ffffff
  h1
    font-size: 1rem
    text-align: center
    margin: 10px auto
  p
    margin-left: 40%
  span
    font-size: .5rem
    text-align: center
