extends ../layouts/base.pug

block css

block header
  link(rel='stylesheet' href=`${ static }/css/ee_peng_lim.css`)

block content
  include ../components/speakerContent.pug
  +banner
  +speakerContent( '簡仁賢 執行長', 'CEO Ren Xian Jian', 'Enabling emotion interaction capability in intelligent assistant by deep learning',  'Biography', 'Kenny Chien, who graduated from University of South California, led technology innovation in his role as VP Engineering and CTO for large software corporations and Internet companies. While he served as Partner Dev Director in Search Technology Center in Asia in Microsoft, he oversaw the product development of Bing and global mobile applications, and he led Cortana and Xiaoice to launch in China and Japan, as well as the landing of Microsoft open platform in Asia, establishing Microsoft\'s leading position in AI. Kenny founded Emotibot Technologies in September 2015 and served as CEO.  Emotibot Technologies focuses creating the best AI assistant and companion in Chinese market, based on affective computing and cutting-edge AI technologies, to enrich our daily life and enable human with AI-powered productivity.', 'Abstract', 'Emotibot Technologies developed human-computer bidirectional conversation engine with NLU and multimodal affective computing technologies, and have run the services in many business scenarios.  In this talk, Kenny will share Emotibot NLU and Emotion technologies, including how they are built and their business scenarios.', '', '', `${ static }/images/speaker_ren_xian_jian.jpg`, 'CEO Ren Xian Jian')

block scripts
