extends ../layouts/base.pug

block css

block header
  link(rel='stylesheet' href=`${ static }/css/yin_hsi_kuo.css`)

block content
  include ../components/speakerContent.pug
  +banner
  +speakerContent('郭盈希 博士', 'Dr. Yin Hsi Kuo', 'Exploiting contextual information for visual search', 'Biography', 'Yin-Hsi Kuo received the Ph.D. degree and M.S. degree in computer science and information engineering from National Taiwan University, Taipei, Taiwan, in 2017 and 2010, respectively. She is currently a research staff at Appier. Her current research interests include multimedia content analysis and image retrieval.', 'Abstract', 'With the prevalence of capture devices, people are used to share their images and videos on the social media. To provide relevant information for these uploaded media, the need for effective and efficient visual search is emerging. It enables plenty of applications such as recommendation, annotation, and advertisement. The state-of-the-art approaches (visual features) usually suffer from low recall rates because small changes in lighting conditions, viewpoints, or occlusions could degrade the performance significantly. We observe that enormous media collections are along with rich contextual cues such as tags and geolocations. We propose to exploit different contextual information with the state-of-the-art visual features for solving the above challenges; therefore, we are able to improve the retrieval accuracy and provide diverse search results.', '', '', `${ static }/images/speaker_yin_hsi_kuo.jpg`, 'Dr. Yin Hsi Kuo')

block scripts

