extends ../layouts/base.pug

block css

block header
  link(rel='stylesheet' href=`${ static }/css/yu_ru_lin.css`)

block content
  include ../components/speakerContent.pug
  +banner
  +speakerContent('教授', 'Prof. Yu Ru Lin', 'Event Analytics for Strengthening Community Resilience in a Cyber-Physical Society', 'Abstract', 'There has been an increasing number of large-scale crises, including natural disasters or armed attacks, that have posed enormous and ongoing threats to communities and society at large. During mass emergencies, victims, responders, and volunteers increasingly use social media and mobile devices to provide timely situational information, from reporting damages, requesting and coordinating help, to expressing social needs and support. There is a growing need for developing new understanding and techniques that help analyze the vast volumes of social data. In this talk, I will discuss how social data and learning techniques together allow better preparation for emergency events and offer insights into the immediate and longer-term impact of disasters. These results offer practical implications for how to strengthen community resilience in a cyber-physical society.', 'Biography', 'Yu-Ru Lin is an assistant professor at the School of Computing and Information, University of Pittsburgh. She received the Ph.D. degree in Computer Science with a concentration in Arts, Media and Engineering from Arizona State University. Her research interests include data mining, visualization, and computational social science. She has worked extensively on computational methodologies for mining, analyzing and visualizing large-scale, time-varying, heterogeneous, multi-relational, and semi-structured data. Her current research focuses on empirically studying how social systems change and the phenomena of change in society, with behavioral and network data. Her work has been funded by NSF and industry and published in leading venues including WWW, SIGKDD, SIGCHI, AAAI, IEEE VIS, ACM TKDD, ACM TOMCCAP, IEEEP, PLoS ONE, and Data Science. Additional information can be found at: http://www.yurulin.com/. ', '', '', `${ static }/images/speaker_yu_ru_lin.jpg`, 'Prof. Yu Ru Lin')

block scripts

